// Header Settings

// need to remove the white space between input and button

input[name],
.tickerSearchButton {
  padding: 5px 10px;
  border: none;
  background: none;
  outline: none;
  transition: all 0.3s;
  border: 1px solid #dddddd;
  margin: 10px 0 0 0;
}
input[name]{
  width:90%;
}

.tickerSearchButton{
  width:10%;
}

.tickerSearchResults,
.watchList {
  flex: 1 0 100%;
}

.articleTitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  padding-bottom: 10px;
}

.articleAuthor {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.articleContent {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  padding-right: 10px;
}
.searchResults {
  padding:1%;
  font-size: 2rem;
  width: calc(100% - 10px);
  border:1px solid transparent;
}
.tickerSearchSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border:1px solid #dddddd;
  padding: 1%;
  margin-top:1%;
}
.resultTicker {
  font-weight: 600;
  font-size: 2rem;
}
.resultName {
  font-size: 1.75rem;
}
.resultRegion {
  font-size: 1.5rem;
}

.resultCurrency {
  // border-bottom: 2px solid #dddddd;
  font-size: 1.25rem;
}

.watchList {
  margin-top:1%;
  border: 1px solid #dddddd;
}

.stockWatchItem{
  border: 1px solid #dddddd;
  padding: 1%;
}

.stockWatchItem li {
  font-size: 1.5rem;
  padding: 5px 0 5px 0;
}

span {
  font-weight: 600;
  font-size: 1.75rem;
}

