// Hover and Focus Settings

// input and button hover/focus

input[name]:hover,
input[name]:focus,
.tickerSearchButton:hover,
.tickerSearchButton:focus {
  color: black;
  background: #dcdcdc;
  transition: all 0.3s;
}
// nav and button hover/focus

// nav:hover,
// nav:focus {
//   opacity: 0.5;
// }
nav a:hover,
nav a:focus{
  text-decoration: none;
  border-bottom: 2px solid red;
  opacity: 1;

  & > i {
    color:red;
  }
}

// nav and button hover/focus

.tickerSearchResults li:hover,
.tickerSearchResults li:focus {
  color: #ececec;
  background: #c5c5c5;
  transition: ease 0.3s;
  border:1px solid #dddddd;
}



 .articleSection a:hover,
 .articleSection a:focus {
  transition: ease 0.3s;
  color: red;
  opacity: .5;
}