// Hover and Focus Settings

// input and button hover/focus

input[name]:hover,
input[name]:focus,
.tickerSearchButton:hover,
.tickerSearchButton:focus {
  color: black;
  background: #dcdcdc;
  transition: all 0.3s;
}
// nav and button hover/focus

// nav:hover,
// nav:focus {
//   opacity: 0.5;
// }
nav a:hover,
nav a:focus {
  text-decoration: none;
  transition: ease 0.3s;
  border-bottom: 2px solid #000;
  color: #000;
  opacity: 1;
}
// nav and button hover/focus

.tickerSearchResults li:hover,
.tickerSearchResults li:focus {
  color: white;
  background: #d8d3d3;
  transition: ease 0.3s;
}
