//  media queries - 1274px
@media (max-width: 1290px) {
  nav {
    padding: 2% 0;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }

  nav a {
    font-weight: 600;
    @include fontSize(20);
    // padding: 0 2%;
  }

  nav i {
    @include fontSize(15);
  }

  .logo i {
    color: white;
    @include fontSize(28);
  }
}

//  media queries - 1230px

@media (max-width: 1230px) {
}

//  media queries - 1180px

@media (max-width: 1180px) {
}

//  media queries - 930px

@media (max-width: 930px) {
}

//  media queries - 780px

@media (max-width: 780px) {
}

//  media queries - 560px

@media (max-width: 560px) {
}

// media queries - 380px
@media (max-width: 380px) {
}

// media queries - 320px
@media (max-width: 320px) {
}
