// media queries - 1340px

@media (max-width: 1340px) {
  .topNav a span {
    font-weight: 600;
    @include fontSize(19);
    // padding: 0 2%;
  }

  .topNav i {
    @include fontSize(14);
  }
  .logo i {
    color: white;
    @include fontSize(28);
  }
}

//  media queries - 1274px
@media (max-width: 1290px) {
  .topNav {
    padding: 2% 0;
  }
  .topNav ul {
    display: flex;
    justify-content: space-between;
  }

  .topNav a span {
    font-weight: 600;
    @include fontSize(16);
    // padding: 0 2%;
  }

  .topNav i {
    @include fontSize(12);
  }

  .logo i {
    color: white;
    @include fontSize(25);
  }
}

//  media queries - 1230px

@media (max-width: 1230px) {
}

//  media queries - 1140px

@media (max-width: 1140px) {
  html {
    font-size: 60%;
  }
}

//  media queries - 970px

@media (max-width: 970px) {
  .topNav a span {
    display: none;
  }

  label[for="navToggle"] {
    display: initial;
  }

  .topNav i {
    @include fontSize(20);
  }
}

//  media queries - 780px

@media (max-width: 780px) {
}

//  media queries - 560px

@media (max-width: 560px) {
}

// media queries - 380px
@media (max-width: 380px) {
}

// media queries - 320px
@media (max-width: 320px) {
}
