// Nav Settings

nav {
  background-color: black;
  padding:2% 0;
  border-bottom:1px solid #d3d3d3;
}

nav a {
  text-decoration: none;
  color: white; 
  font-family: "Montserrat", sans-serif;
  font-weight:600;
  @include fontSize(26);
  text-transform:uppercase;
  transition: ease 0.3s;
  border-bottom:2px solid transparent;
}

nav i {
  @include fontSize(18);
  transition: ease 0.3s;

}