// Nav Settings
.bottomNav,
.topNav {
  background-color: black;
  padding: 2% 0;
  border-bottom: 1px solid #d3d3d3;
}

.bottomNav a span,
.topNav a span {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  @include fontSize(26);
  text-transform: uppercase;
  transition: ease 0.3s;
  border-bottom: 2px solid transparent;
}
.bottomNav i,
.topNav i {
  @include fontSize(18);
  transition: ease 0.3s;
  color: white;
}
.bottomNav ul,
.topNav ul {
  display: flex;
  justify-content: space-between;
}

.logo i {
  color: white;
  @include fontSize(38);
}

//////////////////////////////////////////////////////////////////////////
//MOBILE NAV FUNCTIONALITY
//Mobile Nav
.mobileNav {
  background: white;
  opacity: 80%;
  position: absolute;
  z-index: 1;
  width: 60%;
  height: 100vh;
  left: -100%;
  top:0;
  transition: 500ms;
  display:flex;
  justify-content: center;
  align-items: center;
}

//When Checked, Mobile Nav Appears 0 From the Left/ FLESH WITH THE WALL
input[name="navToggle"]:checked ~ .mobileNav {
  left: 0;
}
//WHEN CHECKED< LABEL TURNS BLACK SO WE CAN SEE IT
input[name="navToggle"]:checked + label[for="navToggle"] {
  i {
    color: black;
  }
}

//SHOW HAMBURGER / WHERE HAMBURGER IS
label[for="navToggle"] {
  position: absolute;
  top: 2%;
  left: 1%;
  z-index: 2;
  display: none; //display:initial; when certain pixel width
  // HAMBURGER ICON STYLING
  i {
    color: white;
    @include fontSize(26);
    &:hover,
    &:focus-within{
      color:red;
    }
  }
}

.mobileNavUl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:80%;
  li {
    padding: 5% 0;
    a i,
    a{
      color: black;
    }
  }
}
////////////////////////////////////////////////////////////////////////////////
// bottom mobile nav

.bottomNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  display:none;//ENABLE AT MOBILE VIEW
}
