.articleSection {
  display: flex;
  padding-top: 10px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.articleSection a {
  color: #000;
  width: 32%;
  margin-bottom: 5%;
  border: 1px solid #dddddd;
}

// placeholder image to see the style - need to apply default articles upon arrival to the page
// when search for ticker and the articles load after selecting the company you were searching for - flex box does not apply and the articles are all different sizes need to control look an feel
article {
  padding: 2% 4%;
  box-shadow: 2px 2px 2px 1px rgba(245, 165, 165, 0.1);
  background-size: cover;
  opacity: 0.8;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.articleContentContainer {
  display: flex;
  flex-direction: column;
}

.articleImage {
  height: 50%;
  display: flex;
  justify-content: center;
}

.articleImage img {
  height: 100%;
}
